.fs-18{
    font-size:18px !important;
}
.fs-20{
    font-size:20px !important;
}
.fs-14{
    font-size:14px !important;
}
.fs-12{
    font-size:12px !important;
}
.fs-10{
    font-size:10px !important;
}
.fs-8{
    font-size:8px !important;
}